@font-face{
    src: url(../Assets/FoundersGrotesk-Semibold.woff2);
    font-family: gsb;
}
@font-face{
    src: url(../Assets/icomoon.woff);
    font-family: icom;
}
@font-face{
    src: url(../Assets/NeueMontreal-Regular.woff2);
    font-family: regular;
}

.page6{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #CDEA67;
    position: relative;
}

.page6 h1{
    font-family: gsb;
    color: #212121;
    font-size: 15rem;
    text-align: center;
    line-height: 12rem;
}

.page6-box{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    gap: 2vw;
    z-index: 12;
}

.page6-eye{
    height: 12vw;
    width: 12vw;
    background: rgb(233, 233, 233);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page6-eye-1{
    height: 70%;
    width: 70%;
    background: #222;
    border-radius: 50%;
    position: relative;
}

.page6-eye-line{
    width: 100%;
    height: 2vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transform-origin: center;
}

.page6-eye-2{
    height: 100%;
    aspect-ratio: 1;
    background: rgb(233, 233, 233);
    border-radius: 50%;
}

@media screen and (max-width:900px) {
    .page6 h1{
        font-family: gsb;
        color: #212121;
        font-size: 10vh;
        text-align: center;
        line-height: 9vh;
    }    
}